/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.width-100 {
  width: 100%;
}
html {
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
html body {
  width: 100%;
}
.top-section {
  border: 2px solid red;
  width: 100%;
}
.top-section .hero-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.top-section .logo-wrapper {
  width: 25%;
  z-index: 2;
  position: absolute;
  display: flex;
  right: 0;
  border: 2px solid red;
  justify-content: flex-end;
  padding: 1rem;
}
.top-section .logo-wrapper .logo {
  border: 2px solid red;
  right: 0;
}
.top-section .menu-wrapper {
  width: 25%;
  z-index: 2;
  position: absolute;
  display: flex;
  left: 0;
  border: 2px solid red;
  padding: 1rem;
}
.top-section .menu-wrapper .hamburger-menu {
  justify-content: flex-start;
  border: 2px solid red;
}
.top-section .title {
  z-index: 3;
  color: white;
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  top: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  width: 100%;
}
.top-section .title h1 {
  font-size: 7rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.top-section .title h3 {
  font-size: 1.4rem;
  font-family: 'Roboto Regular', sans-serif;
  padding: 1rem;
}
.top-section .title button {
  background-color: #FFEC42;
  border: none;
  color: #1C1C1C;
  width: 22.5rem;
  height: 4.9rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
}
.below-hero-image {
  position: absolute;
  border: 2px solid red;
  top: 85rem;
  width: 100%;
}
.below-hero-image .direction-section {
  display: none;
}
.below-hero-image .features {
  top: 30rem;
  width: 100%;
}
.below-hero-image .features .what-you-get {
  text-align: center;
  border: 2px solid red;
  width: 100%;
}
.below-hero-image .features .examples-of-features {
  width: 100%;
  border: 2px solid red;
}
.below-hero-image .features .examples-of-features .feature {
  width: 100%;
  border: 2px solid red;
}
.below-hero-image .features .examples-of-features .feature img {
  width: 100%;
}
.about-body {
  background-color: #202020;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.about-body .top-about {
  display: flex;
  padding: 1rem;
}
.about-body .top-about .logo-wrapper {
  width: 50%;
}
@media (max-width: 800px) {
  .about-body .top-about .logo-wrapper {
    width: 25%;
  }
}
@media (max-width: 500px) {
  .about-body .top-about .logo-wrapper {
    width: 10%;
  }
}
.about-body .top-about .nav-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .about-body .top-about .nav-wrapper {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .about-body .top-about .nav-wrapper {
    width: 90%;
    font-size: 1.2rem;
  }
}
.about-body .top-about .nav-wrapper nav a {
  padding: 1rem;
}
.about-body main .title {
  text-align: center;
}
.about-body main .all-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-body main .all-people .people {
  padding: 1rem;
}
.about-body .buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .about-body .buttons {
    flex-direction: column;
    align-items: center;
  }
}
.about-body .buttons button {
  background-color: #3D3D3D;
  color: #FFEC42;
  border: none;
  margin: 2rem;
  padding: 1rem;
  width: 10rem;
}
.about-body .about-footer {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-body .about-footer nav {
  padding: 1rem;
}
.about-body .about-footer nav a {
  padding: 1rem;
}
.active-element {
  border: 2px solid orange;
}
