/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.width-100 {
  width: 100%;
}
html {
  font-size: 62.5%;
}
a {
  color: inherit;
  text-decoration: none;
}
.about-body {
  background-color: #202020;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.about-body .top-about {
  display: flex;
  padding: 1rem;
}
.about-body .top-about .logo-wrapper {
  width: 50%;
}
.about-body .top-about .nav-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-body .top-about .nav-wrapper nav a {
  padding: 1rem;
}
.about-body main .title {
  text-align: center;
}
.about-body main .all-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-body main .all-people .people {
  padding: 1rem;
}
.about-body .buttons {
  display: flex;
  justify-content: center;
}
.about-body .buttons button {
  background-color: #3D3D3D;
  color: #FFEC42;
  border: none;
  margin: 2rem;
  padding: 1rem;
}
.about-body .about-footer {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about-body .about-footer nav {
  padding: 1rem;
}
.about-body .about-footer nav a {
  padding: 1rem;
}
