.about-body {
    background-color: @shadow;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;

    .top-about {
        display: flex;
        padding: 1rem;
        .logo-wrapper {
            width: 50%;

        }
        .nav-wrapper {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            nav a {
                padding: 1rem;
            }
        }
    }

    main {
        .title {
            text-align: center;
        }

        .all-people {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .people {
                padding: 1rem;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        button {
            background-color: @iron;
            color: @glory;
            border: none;
            margin: 2rem;
            padding: 1rem;
        }
    }

    .about-footer {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        nav {
            padding: 1rem;
            a {
                padding: 1rem;
            }
        }


    }
}

.active-tab {
    border: 2px solid orange;
}